html {
    height: 100px;
    width: 200px;
    background-color: seashell;
    border-color: blue 10px;
    box-shadow: black 20px;
}

header {
    color: white;
    font-size: xx-large;
    font: 400px;
    text-align: center ;
    box-sizing: border-box;
    font-weight:bold;
    font-style: oblique;
    margin: auto;

}

article {
    font-size: large;
    text-align:center;
    color: white;
    margin-right: 100px, 100px;
    margin-left: 100px, 100px;
    
    

    
}

p {
    box-sizing: border-box;
    background-color: white;
    font-color: black;
    font-style: italic;
    text-align: center;
    
    
    
}
body{
    background-color: red;
    border-style: solid;
    border-color: white;
    margin-bottom: 30px;
    margin-right: 100px, 100px;
    margin-left: 100px, 100px;
}
.superButton{
    text-align: center;

}
